@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 40px;
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #e29191;
    max-width: 800px;
    margin: 0px auto;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    background-color: #ffffff;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    margin-bottom: 20px;
}

.section {
    overflow: hidden;
}

.name {
    background-color: #e29191;
    font-weight: bold;
    padding: 10px;
    margin-right: 10px;
    float: left;
    display: inline-block;
    width: 120px;
    text-align: center;
}

.merong {
    padding: 10px;
    width: calc(100% - 140px);
}

img {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 10px;
}

h2 {
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

@media(max-width: 900px) {
    #grid {
        display: block;
    }
    img {
        max-width: calc(100% - 40px); /* 창 크기에 따라 이미지 최대 너비 조절 */
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color:#e29191;
    color: #fff;
    font-weight: normal;
    text-align: center;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
}